body {
  color: #40504e;
  margin: 0;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
}

h1 {
  font-size: 5.65rem;
  width: 20%;
  margin: 50px auto 0 auto;
  font-family: "Lucinda", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  font-size: 18px;
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: "Montserrat";
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  margin: 100px 0;

}

.intro {
  width: 50%;
  margin: auto;
  text-align: justify;

}

.bottom-container {
  margin: 100px 0;
  background-color: #66bfbf;
  padding: 50px 0 20px;

}
.skill-row{
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 650px;
  bottom: 300px;
}

.tech-icon{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.audio-icon{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}